<html ng-app="loginApp">
    <head>
        <title>program 8</title>
        <link rel="stylesheet" href="style.css">
    </head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <body ng-controller="loginController">
    <div class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/Program1.html">Program 1</a></li>
          <li><a href="/Program2.html">Program 2</a></li>
          <li><a href="/Program3.html">Program 3</a></li>
          <li><a href="/Program4.html">Program 4</a></li>
          <li><a href="/program5.html">Program 5</a></li>
          <li><a href="/program6.html">Program 6</a></li>
          <li><a href="/Program7.html">Program 7</a></li>
          <li><a href="/Program8.html">Program 8</a></li>
          <li><a href="/Program9.html">Program 9</a></li>
          <li><a href="/Program10.html">Program 10</a></li>
          <li><a href="/Program11.html">Program 11</a></li>
          <li><a href="/Program12.html">Program 12</a></li>
        </ul>
    </div>
    <center>
      <h1>Program 8</h1>
          <h1>
            Develop AngularJS program to create a login form, with validation for the username and 
            password fields.
      
          </h1>
      </center>
    <h1>Login Form</h1>
    <!-- Form for login with validation -->
    <form ng-submit="login()">
      Username
      <input type="text" ng-model="username" required />
      <br />
      Password
      <input type="password" ng-model="password" required />
      <br />
      <button type="submit">Login</button>
    </form>
    <script>
      var app = angular.module("loginApp", []);
      app.controller("loginController", function ($scope) {
        $scope.login = function () {
          // Check if username is "Ram" and password is "Ram"
          if ($scope.username == "ram" && $scope.password == "ram") {
            alert("Login successful");
            // Add further logic for successful login
          } else {
            alert("Login failed. Invalid username or password.");
            // Add logic for failed login
          }
        };
      });
    </script>
  </body>
</html>
